body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  height: 100vh;
  width: 100vw;

}


#root {
  height: 100%;
  width: 100%;
  /* background-color: black; */

}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.landing {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
}